<div>
  <label>Professor:</label>
  <select (change)="setProfessorId($event.target.value)" >
    <option value="">[Selecione]</option>
    <option *ngFor="let professor of professores" value="{{professor.id}}">{{professor.nome}}</option>
  </select>

</div>
<div>
  <label>Cliente:</label>
  <select (change)="setClienteId($event.target.value)" >
    <option value="">[Selecione]</option>
    <option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{cliente.nome}}</option>
  </select>
</div>
<div>
  <button (click)="ObterFichas()">Pesquisar</button>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Professor</th>
        <th>Cliente</th>
        <th>Criação</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ficha of fichas">
        <td>{{ficha.professor.nome}}</td>
        <td>{{ficha.cliente.nome}}</td>
        <td>{{ficha.dataCriacao}}</td>
        <td><a [routerLink]="['/ficha', ficha.id]">Abrir</a></td>
      </tr>
    </tbody>
  </table>
</div>
