<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add 
         name="BTMobileContext" 
         connectionString="Server=.\SQLEXPRESS;Database=BTMobileDB;User ID=sa;Password=sqlex123;Trusted_Connection=False;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>